.customers {
  .customersTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

    p {
      font-size: 36px;
      font-weight: 400;
    }

    button {
      border: none;
      background: none;
      color: #205529;
      font-size: 17px;
    }
  }

  .customersBlocks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .customerBlock {
      display: flex;
      flex-direction: column;
      border: 1px solid #2055291a;
      border-radius: 12px;
      background: rgba(#205529, 0.03);
      padding: 0;
      margin: 20px;
      font-size: 18px;
      transition: 0.3s easy;

      &:hover {
        box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
      }

      .customerBlockTitle {
        padding: 20px;

        p {
          font-family: InstrumentSerif-Italic, serif;
        }

        span {
          font-size: 14px;
        }

        .name {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .image {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0 0 12px 12px;
        }
      }
    }
  }
}
