.cartResult {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;

  .blocksResult {
    box-shadow: 3px 15px 15px #aaa;
    background: #fff;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    font-size: 23px;

    .total {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }

    .btnOrder {
      margin: 20px 0;

      button {
        width: 100%;
        box-shadow: 3px 10px 10px #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background: #205529;
        border: none;
        color: white;
        border-radius: 30px;
        font-size: 23px;
      }
    }

    .btnQuickOrder {
      p {
        padding: 30px 10px 0;
      }
    }
  }

  @media (width <= 660px) {
    .blocksResult {
      background: none;
      max-width: 80%;
      padding: 20px;
      box-shadow: none;
    }
  }
}
