.getDirection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;

  .btnCloseMap {
    position: relative;
    top: 5rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: 1.5rem;
    box-shadow: 2px 5px 5px dimgrey;
    color: dimgrey;
  }
}
