.productItemPage {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (width <= 650px) {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .containerLeft {
    margin: 20px;

    img {
      width: 80%;
      border-radius: 12px;
    }
  }

  .containerRight {
    margin: 20px auto;

    .id {
      color: darkgray;
      margin: 0;
    }

    .productTitle {
      h2 {
        font-size: 34px;
        font-weight: 400;
        margin: 15px 0;
      }
    }

    .order {
      display: flex;
      align-items: center;

      .icons {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          padding: 0 10px;
          width: 40px;
          transition: trsform 1s ease;

          &:hover {
            transform: scale(1.2);
          }
        }

        .btnCart,
        .btnExit,
        .btnFavorites {
          border: none;
          background: none;
        }
      }

      p {
        font-size: 20px;
      }

      .btnOrder {
        background: #205529;
        color: #fff;
        border: none;
        width: 130px;
        height: 40px;
        border-radius: 6px;
        margin: 0 50px;
      }
    }
  }
}
