.specialOffer {
  display: flex;
  align-items: end;
  justify-content: space-between;
  background: rgba(#205529, 0.1);

  @media (width <= 650px) {
    align-items: center;
    flex-direction: column;
  }

  .specialOfferText {
    margin: 40px 20px;

    @media (width <= 650px) {
      text-align: center;
    }

    .flag {
      width: 100px;
      border: 1px solid #205529;
      border-radius: 4px;
      font-size: 15px;
      padding: 5px;

      @media (width <= 650px) {
        width: 100%;
      }
    }

    .specialOfferHeader {
      h2 {
        font-size: 36px;
        font-weight: 400;
      }
    }

    button {
      width: 180px;
      height: 40px;
      background: #205529;
      color: #faf2e6;
      font-size: 16px;
      border: none;
      border-radius: 6px;
    }
  }

  .illustrationFlowers {
    img {
      width: 140px;
      height: 250px;

      @media (width <= 800px) {
        width: 100px;
      }

      @media (width <= 650px) {
        width: 150px;
      }

      @media (width <= 450px) {
        width: 100px;
      }
    }
  }
}
