.favoritesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titleFavorites {
    h3 {
      font-size: 38px;
    }
  }

  .favoritesFlowers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .notFavorites {
      p {
        font-size: 30px;
      }
    }

    .favoriteFlowersBlock {
      display: grid;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      gap: 20px;
      padding: 20px;

      @media (width <= 1200px) {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
      }

      @media (width <= 900px) {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
      }

      @media (width <= 600px) {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
      }
    }
  }
}
