.orderForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  .order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;

    span {
      font-size: 35px;
      font-weight: 600;
    }

    .titleOrder {
      display: flex;
      align-items: center;

      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 18px;
        border-radius: 50%;
        margin: 0 5px;
        border: none;
        background: #205529;
      }
    }

    .btnIsAuth {
      .logIn {
        background: #205529;
        border-radius: 30px;
        width: 150px;
        height: 45px;
        border: none;
        font-size: 20px;
        color: white;
        margin: 10px;
      }
    }

    p {
      font-size: 20px;
    }

    .dataUser {
      display: flex;
      flex-direction: column;
    }

    .form {
      display: flex;

      input,
      select,
      textarea {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid #2055291a;
        border-radius: 12px;
        background: rgba(#205529, 0.03);
        width: 90%;
        height: 40%;
        padding: 20px;
        margin: 20px auto;
        font-size: 18px;

        &::placeholder {
          transition: 0.2s ease;
        }

        &:hover::placeholder {
          position: relative;
          bottom: 18px;
          left: 15px;
          color: #aaa;
        }
      }
    }

    .checkRecipient {
      display: grid;
      grid-template-columns: 1fr 4fr;

      .check {
        width: 25%;
        height: 25px;
        margin: 25px;
      }

      .checkAddress {
        margin: 20px 0;
      }
    }

    .orderResults {
      display: flex;
      flex-direction: column;
      color: gray;

      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .orderSubmit {
        width: 100%;
        box-shadow: 3px 10px 10px #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        background: #205529;
        border: none;
        color: white;
        border-radius: 30px;
        font-size: 23px;
      }
    }
  }
}
