.formSection {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (width <= 800px) {
    display: flex;
    flex-direction: column;
  }

  .contactBlocks {
    @media (width <= 800px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (width <= 600px) {
      grid-template-columns: 1fr;
    }

    .contactBlock {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgba(#205529, 0.03);
      border: 1px solid rgba(#205529, 0.1);
      border-radius: 12px;
      text-align: center;
      margin: 20px;
      transition: all 1s ease;

      &:hover {
        box-shadow: 1px 1px 2px #205529;
      }

      @media (width <= 600px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: start;
        padding: 15px;
        margin: 10px 20px;
      }

      img {
        padding: 10px;
      }

      p {
        margin: 0 10px 15px;
      }
    }
  }

  .formBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(#205529, 0.03);
    border: 1px solid rgba(#205529, 0.1);
    border-radius: 12px;
    margin: 20px;
    transition: all 1s ease;

    &:hover {
      box-shadow: 1px 1px 2px #205529;
    }

    .formContact {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      background: #faf2e6;
      border: 1px solid rgba(#205529, 0.1);
      border-radius: 12px;
      margin: 20px;

      h4 {
        font-weight: 400;
        font-size: 30px;
        margin: 10px;
      }

      form {
        .name {
          input {
            width: 90%;
          }
        }

        .formInput {
          display: flex;

          .email,
          .phone {
            input {
              width: 80%;

              @media (width <= 510px) {
                width: 90%;
              }
            }
          }

          @media (width <= 510px) {
            flex-direction: column;
          }
        }

        .message {
          textarea {
            width: 90%;
          }
        }

        input,
        textarea {
          background: none;
          border: 1px solid rgba(#205529, 0.1);
          padding: 15px;
          border-radius: 12px;

          &::placeholder {
            color: #205529a6;
            font-size: 14px;
          }

          &:focus::placeholder {
            color: #aaa;
          }
        }

        button {
          width: 100%;
          height: 45px;
          margin: 0 0 20px;
          background: #205529;
          color: white;
          border: none;
          border-radius: 6px;
        }
      }
    }
  }
}
