.notFound {
  width: 100%;
  height: 100vh;
  background: #205529;
  color: #faf2e6cc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .flag {
      border: 1px solid white;
      border-radius: 10%;
      padding: 5px;
      font-size: 20px;
    }

    h1 {
      font-size: 55px;
      font-weight: 400;
    }

    p {
      margin: 5px;
      font-size: 17px;
    }

    button {
      margin: 20px;
      width: 120px;
      height: 40px;
      border: none;
      border-radius: 6px;
      color: #205529;
    }
  }
}
