.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .orderCall {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 500px;

    .close {
      cursor: pointer;
    }

    .orderCallTitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;

      p {
        font-size: 18px;
      }
    }
  }
}
