.allFlowers {
  margin: 20px 0 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px;

  .flower {
    img {
      width: 200px;
      border-radius: 12px;

      &:hover {
        box-shadow: 0 8px 18px rgb(100 75 50 / 15%);
      }
    }
  }

  .flowerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

    a {
      font-size: 20px;

      &:hover {
        font-size: 21px;
      }
    }
  }

  .addToCart {
    display: flex;
    align-items: center;
    margin: 20px;

    .icons {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 40px;
        transition: trsform 1s ease;

        &:hover {
          transform: scale(1.2);
        }
      }

      .btnCart,
      .btnExit,
      .btnFavorites {
        border: none;
        background: none;
      }
    }

    .btnAddToCart {
      border: 2px solid #205529;
      border-radius: 5px;
      background: transparent;
      color: #205529;
      margin: 0 10px;

      &:hover {
        transform: scale(1.2);
      }
    }

    p {
      font-size: 20px;
    }
  }
}
