.banner {
  padding: 50px 0;

  .bannerContent {
    min-width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin: 80px auto;
    width: 50%;
    background: #faf2e6;
    color: #205529;
    text-align: center;
    padding: 50px;

    .badge {
      border: 1px solid #205529;
      border-radius: 4px;
      font-size: 16px;
      padding: 6px;
      margin: 15px;
    }

    .heading {
      font-size: 36px;
      font-weight: 400;
      margin: 15px;
    }

    .article {
      font-size: 18px;
      margin: 15px;
    }

    .btnBanner {
      margin: 15px;
      border-radius: 6px;
      background: #205529;
      font-size: 16px;
      color: #fff;
      width: 200px;
      height: 50px;
      border: none;
    }
  }
}
