.formTel {
  border: 2px solid dimgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 23px;
  width: 100%;
  height: 60px;
  box-shadow: 3px 10px 10px #aaa;

  .inputTel {
    font-size: 23px;
    width: 70%;
    height: 40px;
    border: none;
  }

  .btnTel {
    border: none;
    background: transparent;

    img {
      width: 70%;
    }
  }
}
